<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App Nodejs and Mongodb</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed qui vitae tenetur magnam a ipsam. Hic doloremque consectetur, eaque voluptas similique nihil amet eius. Omnis eos iusto voluptas architecto hic.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A voluptates sint cupiditate vitae. Dignissimos, velit.</p>
    <a href="" class="btn btn-primary">button</a>
</div>

